<div class="inbox-message-menu">
  <ul>
    <li><%= link_to "Inbox", "/inbox" %></li>
    <li><%= link_to "Compose Message", "/inbox/compose" %></li>
    <li><%= link_to "Sent Messages", "/inbox/sent" %></li>
  </ul>
</div>
