<div class="all-sent-messages">
  <% if(!@messages.empty?) %>
    <%= render :partial => "messages_list", :object => @messages %>
  <% else %>
    You have not sent any messages.
  <% end %>
</div>
<%= render :partial => "message_menu" %>
