<div class="help-container">
  <h1>SSH on Windows</h1>
  <div class="install-git-on-windows">
    The recommended git for windows is <a href="http://code.google.com/p/msysgit/">msysgit</a>. Just do the typical next...next...next install.
  </div>
  <div class="generate-windows-ssh-key">
    <h2>Create SSH Key</h2>
    <ol>
      <li>open git bash</li>
      <li>mkdir ~/.ssh</li>
      <li>cd ~/.ssh</li>
      <li>ssh-keygen -t rsa -C "name@email.com"</li>
      <li>Enter a passphrase (remember it)</li>
      <li>Your key should be generated</li>
    </ol>
  </div>
  <div class="get-ssh-key">
    <h2>Get Your SSH Key</h2>
    <ol>
      <li>open in notepad C:\Users\[your_user]\.ssh\id_rsa.pub</li>
      <li>copy to clip board</li>
    </ol>
  </div>
  <div class="add-ssh-key-to-account">
    <h2>Add SSH Key to Account</h2>
    <ol>
      <li>Visit <%= link_to "add ssh key", "/account/ssh" %> in your <%= link_to "account settings", "/account" %></li>
      <li>Click Add Key</li>
      <li>Give the key a name</li>
      <li>Paste the key you copied into the key text field</li>
    </ol>
  </div>
</div>
