<div class="help-container">
  <h1>Getting Started With Sourcehold</h1>
  <div class="sign-up">
    <h2>Sign Up</h2>
    Rigistering is easy just visit the <%= link_to "Sign Up", "/users/sign_up" %> page and follow the instructions.
  </div>
  <div class="">
    <h2>Add an SSH Key</h2>
    To use Sourcehold effectively you need to associate an SSH key with your account. <%= link_to "SSH key Help", "/help/ssh" %> can set you onto the right direction to get started.
  </div>
  <div class="">
    <h2>Create A Repository</h2>
    Once you have signed up and added your SSH key you are ready to <%= link_to "Create a Repository", "/repo/new" %>. Once it is created follow the on screen instructions to get started.
  </div>
</div>
