<div class="about-page">
  <div class="about-page-mission">
    <h2>TheMission.toString();</h2>
    Have you ever looked at some code you wrote six months ago and thought to yourself, “man, thats sloppy”.  Well we have!  We believe that as a developer you are constantly evolving and improving.  We believe that your tools should also be constantly evolving and improving.  We are developers, we are customers, we know that coding isn’t something you “get done”.  It needs to be massaged and refactored, and most of all, it needs a home!  Our mission is to create software that lets your “code” live in a safe environment, and help you improve your development skills at the same time.
  </div>
  <div class="about-page-company">
    <h2>TheCompany.toString();</h2>
    Sourcehold was the brainchild of Buddy Lindsey.  He is the mastermind behind the infrastructure and functionality that is Sourcehold.  Buddy started the company in the early spring of 2011 and plans to stick with the company for the long haul.  In the fall of 2011, Buddy changed careers and began working on Sourcehold fulltime.  Buddy’s dream is to help fellow developers do what they love, which is to develop and work on their craft.
  </div>
  <div class="about-page-join">
    <h2>TheFutureOfSourcehold.toString();</h2>
    Sourcehold is the first part of a suite of applications designed to enhance productivity without breaking the wallet.  We understand some projects are free and open source, we also understand that outsourcing some projects just makes since.  Why spend time configuring networks and managing backups when you could be creating that next big thing.
  </div>
</div>
