<h2>Pricing</h2>
<div>
  Get started today adding your projects so you don't lose them
</div>

<div class="pricing-free">
  <span class="the-price">Free</span><span class="description">Unlimited <strong>public</strong> repositories and collaboration on other projects.</span>
</div>
<div class="pricing-paid">
  <span class="the-price">$4</span><span class="description">Unlimited <strong>private and public</strong> repositories</span>
</div>

